body{
    background-color: rgb(117, 116, 116)
}
.card{
    background-color: rgb(255, 255, 255);
    margin: 70px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 10rem;
    margin-left: 10rem;
    max-width: 400px;
}
.profile-picture{
    margin-top: 30px;
    margin-bottom: -10px;
    margin-left: 7rem;
    height:160px;
    border-radius: 19rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}
.profile-picture:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
h1.name{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    
}
span.head{
 transition: 0.5s ease-in-out;
 color: rgb(17, 92, 92);
 font-weight: 900;
}
span.dev{
    color: rgb(31, 82, 89);
    font-weight: 900;
    font-family: 'exo 2', sans-serif;
}
h1.name:hover span{
    color: rgb(17, 36, 36);
    font-weight: 900;
}
p.description{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 20px;
    color: rgb(0, 0, 0);
}
span.founder{
    color: #032442;
    font-weight: 900;
    font-family: 'exo 2', sans-serif;
}
.button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
button.contact{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color: rgb(0, 0, 0);
    cursor: pointer;
transition: 0.3s ease-in-out;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 10px;}
button.contact:hover{
    background-color: rgb(14, 60, 58);
    color: rgb(255, 255, 255);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}
button.contact a{
    text-decoration: none;
    color: inherit;
}
button.contact .material-symbols-outlined {
    transition: transform 0.3s ease-in-out;
}

button.contact:hover .material-symbols-outlined {
    transform: translateX(10px);
}
